<windowslivelogin>
  <appid>000000004C0D93BA</appid>
  <secret>XuyDZ4QazyoYT5P-XaICaSr2YhbH1WBh</secret>
  <securityalgorithm>wsignin1.0</securityalgorithm>

  <returnurl>http://dev.perfect-look.org/explore/delauth_handler</returnurl>
  <policyurl>http://dev.perfect-look.org</policyurl>
</windowslivelogin>
