a:link, a:visited, a:hover, a:active
{
    text-decoration: none;
}

/* inline elements
*************************/

strong
{
    font-weight: bold;
}

/* tabs
*************************/

ul.tabs
{
    display: table;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}

ul.tabs li
{
    margin: 0;
    padding: 0;
    list-style: none;
    display: table-cell;
    float: left;
    position: relative;
}

ul.tabs a
{
    position: relative;
    display: block;
}

/* dropdowns
*************************/

ul.dropdown
{
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    z-index: 999;
    top: 100%;
    width: 250px;
    display: none;
    left: 0;
}

ul.dropdown ul.dropdown
{
    top: 0;
    left: 95%;
}

ul.dropdown li
{
    margin: 0;
    padding: 0;
    float: none;
    position: relative;
    list-style: none;
    display: block;
}

ul.dropdown li a
{
    display: block;
}


/* menu-specifc
*************************/

#menu
{
    z-index: 5;
    height: 80px;
    line-height: 40px;
    width: 240px;
    position: absolute;
    left: 780px;
    top: 10px;
    font: 14px/21px Georgia, serif;
}

#menu ul
{
    margin: 0 auto;
}

#menu ul li.hasmore
{
    background: url() no-repeat center 27px;
    margin-bottom: 10px;
}

#menu ul li h4
{
    margin: 0;
}

#menu ul li h4 a
{
    font-size: 14px;
    color: #F9688E;
    font-weight: bold;
    padding: 0 15px;
}

#menu ul li a
{
    color: #ffffff;
    /*text-shadow: 1px 1px 0px #F9C2D7;*/
    padding-left: 4px;
}

#menu ul li a img
{
    vertical-align: middle;
}


#menu ul li a span
{
    display: block;
    padding: 0 15px 0 11px;
}

/*#menu ul li a:hover span
{
    background: url(/images/menu/04.png) top right;
}*/

#menu ul.dropdown
{
    padding: 10px;
    background-image: url(http://www.img5.cc/images/13407300135_dropdown.png);
    overflow:hidden;
    border-bottom: 1px solid #FCCEDA;
    width: 200px;
}

#menu ul.dropdown li a
{
    border-bottom: 1px solid #FCCEDA;
    line-height: 30px;
    overflow: hidden;
    height: 30px;
}

#menu ul.dropdown li.last a
{
    border-bottom-width: 0;
}

#menu ul.dropdown li a:hover
{
    background: url(http://www.img5.cc//images/134073004710_menuarrow.png) no-repeat left center;
}

#menu ul li h4 a:hover
{
    background-image: none;
}